@font-face {
  font-family: varino;
  src: url(../public/VarinonormalRegular-nRYg4.otf);
}
@font-face {
  font-family: readex;
  src: url(../public/ReadexPro-VariableFont_HEXP\,wght.ttf);
}
.Varino {
  font-family: varino;
}
.Readex{
  font-family: readex;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  background-color: #0a0a0b;
  min-height: 100vh;
  overflow-x: hidden;
  box-shadow: 25px 26px 6.1px 0px rgba(0, 0, 0, 0.65);
}
.spotlight {
  filter: blur(50px);
}
.container {
  width: 1685px;
  display: flex;
  justify-content: space-between;
}
.container li {
  font-size: 3rem;
  color: #fff;
}
.register {
  background: linear-gradient(95deg, #000 12.28%, #265350 109.36%);
}
.register:hover {
  background: linear-gradient(150deg, #265350 12.28%, #000 80%);
}

.ziegers2024 {
  background: linear-gradient(98deg, #4a3afe 0%, #00c2ff 52.4%, #20fa0d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color-me-in 10s linear infinite;
}

@keyframes color-me-in {
  0% {
    background: linear-gradient(98deg, #4a3afe 0%, #00c2ff 52.4%, #20fa0d 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  25% {
    background: linear-gradient(98deg, #20fa0d 0%, #4a3afe 52.4%, #00c2ff 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(98deg, #00c2ff 0%, #20fa0d 52.4%, #4a3afe 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  75% {
    background: linear-gradient(98deg, #4a3afe 0%, #00c2ff 52.4%, #20fa0d 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(98deg, #20fa0d 0%, #4a3afe 52.4%, #00c2ff 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.bgstyle {
  background-color: black;
  background-image: radial-gradient(
    circle,
    #fff 0%,
    #fff 20%,
    #38e7ff 39%,
    #60b3ff 46%,
    #1d3f55 69%,
    #0e171d 77%,
    #000 85%
  );
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  backdrop-filter: blur(50px);
}

/* stars animation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  background-image: radial-gradient(
      circle at 40% 50%,
      #60b3ff 0%,
      #a30d8a00 40%
    ),
    radial-gradient(circle at 65% 60%, #1d3f55 0%, #580e7500 45%),
    radial-gradient(circle at 40% 60%, #076066 0%, #17777700 45%);
  background-blend-mode: screen;
}

.scene {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  perspective: 10vmin;
  transition: filter 1s ease-in-out;
}

.blurred .scene {
  filter: blur(5px);
}

.scene div {
  width: 1.5vmin;
  height: 1.5vmin;
  transform: translateZ(-100vmin) rotateY(90deg) rotateX(var(--rx))
    translateZ(var(--x)) scaleX(1);
  position: absolute;
  top: 0%;
  left: 0%;
  animation: animate 1.5s infinite ease-in;
  background: #fff;
  box-shadow: 0 0 20px rgb(10, 239, 255);
}

@keyframes animate {
  0%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateZ(0vmin) rotateY(90deg) rotateX(var(--rx))
      translateZ(var(--x)) scaleX(6);
  }
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}

.fuller-button:hover {
  box-shadow: inset 0 0 0 rgba(0, 101, 233, 0.863),
    0 0 2.5em rgba(0, 153, 255, 0.7);
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.text-flicker-in-glow {
  -webkit-animation: text-flicker-in-glow 4s linear both;
  animation: text-flicker-in-glow 4s linear both;
}

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45),
      0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55),
      0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
      0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
      0 0 100px rgba(255, 255, 255, 0.1);
  }
}

.main-container {
  position: relative;
}

.main-container.blurred {
  filter: blur(5px);
  transition: filter 1s ease-in-out;
}

.instagram-button {
  transition: background 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.instagram-button:hover {
  background: linear-gradient(
    98deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.tilt {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.show {
  opacity: 1;
}

/* Event Cards */

.card1{
  border-radius: 50px;
  width: 33rem;
}

.card1:hover{
  box-shadow: 0px 4px 70px 0px #C701E8;
  border-radius: 52px;
  width: 33rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card2{
  border-radius: 50px;
  width: 33rem;
}

.card2:hover{
  box-shadow: 0px 4px 70px 0px #0134E8;
  border-radius: 52px;
  width: 33rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card3{
  border-radius: 50px;
  width: 33rem;
}

.card3:hover{
  box-shadow: 0px 4px 70px 0px rgba(66, 216, 29, 0.50);
  border-radius: 52px;
  width: 33rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card4{
  border-radius: 50px;
  width: 33rem;
}

.card4:hover{
  box-shadow: 0px 4px 70px 0px rgba(41, 203, 203, 0.50);
  border-radius: 52px;
  width: 33rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 600px){
  .bgstyle{
    background-color: black;
    background-image: radial-gradient(circle, #FFF 0%, #FFF 15%, #38E7FF 30%, #60B3FF 45%, #1d3f55 69%, #0e171d 77%, #000 85%);
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    backdrop-filter: blur(50px);
  }
  .strokes{
    width: 93%;
    height: 47%;
    position: absolute;
    top: 0;
    margin-top: 10rem;
  }
  .hero-section{
    position: absolute;
    top: 13.5%;
  }
  .ziegers2024{
    font-size: 40px;
    padding-top: 20px;
  }
  .ziegers-text{
    font-size: 18px;
  }
  .register-button{
    margin-top: 35px;
  }
  .topleft{
    height: 40px;
    width: 40px;
    left: 60px;
    top: 36.7rem;
    transform: rotate(-35deg);
  }
  .middleleft{
    height: 17px;
    width: 17px;
    left: 10px;
    bottom: 12rem;
    transform: rotate(-5deg);
  }
  .bottomleft{
    height: 80px;
    width: 80px;
    bottom: 4.6rem;
    left: 60px;
    transform: rotate(-35deg);
  }
  .topright{
    height: 80px;
    width: 80px;
    top: 35.7rem;
    right: 35px;
    transform: rotate(-100deg);
  }
  .bottomright{
    height: 40px;
    width: 40px;
    right: 60px;
    bottom: 4.6rem;
    transform: rotate(20deg);
  }
  .middleright{
    height: 17px;
    width: 17px;
    right: 10px;
    bottom: 8.4rem;
    transform: rotate(-100deg);
  }
  .stars{
    height: 17.6rem;
    width: 26rem;
    left:1rem;
    top: 36rem;
    backdrop-filter: blur(5px);
  }
}

.gaming{
  background: linear-gradient(180deg, #FFF 0%, rgba(181, 181, 181, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-blend-mode: normal, normal, luminosity;
}

.bgmigamingcard{
  background: linear-gradient(180deg, #B5B5B5 0%, rgba(181, 181, 181, 0.00) 100%);
}
.codmgamingcard{
  background: linear-gradient(180deg, rgba(214, 1, 76, 0.80) 0%, rgba(214, 1, 76, 0.00) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}